In [1]:
from data_buyer_toolkit.toolkit import (
    fetch_and_score_job,
    batch_fetch_and_score_jobs,
    search_job_ids_by_title,
    fetch_and_score_top_by_use_case_auto,
    preprocess_job_api_response,
    load_pipeline,
)

In [2]:

# Direct call with all parameters inside the function
result = fetch_and_score_job(
    job_id="820370600",
    api_key="Your_API_Key",
    email="Email@email.com"
)

In [3]:
result

{'data_buyer_score': np.float64(0.9396),
 'title': 'PROGRAM ANALYST',
 'agency': 'Army National Guard Units'}

In [4]:
# Score a list of job titles
titles = ["Data Scientist", "Economist", "Marketing Analyst"]
results_df = batch_fetch_and_score_jobs(
    job_titles=titles,
    api_key="Your_API_Key",
    email="Email@email.com"
)

results_df

,data_buyer_score,title,agency
0,0.9368,Data Scientist - OIG,U.S. Capitol Police
1,0.2376,Economist,Department of the Air Force - Agency Wide

In [5]:
# Search job IDs by a title
job_list = search_job_ids_by_title(
    position_title="Data Analyst", 
    api_key="Your_API_Key", 
    email="Email@email.com",
    max_results=5
)

job_list

[{'job_id': 'CERE25X856887387HWS',
  'title': 'INTERDISCIPLINARY (Ops Research Analyst/Mathematician/Statistician/Computer Sci/Data Sci)',
  'agency': 'U.S. Army Corps of Engineers'},
 {'job_id': 'OCC-IMP-12731124-CJH',
  'title': 'Management and Program Analyst',
  'agency': 'Customs and Border Protection'},
 {'job_id': 'CBSS-12733706-25-KS',
  'title': 'Health System Specialist (HPE Analyst)',
  'agency': 'Veterans Health Administration'},
 {'job_id': 'CBTE-12734259-25-KH',
  'title': 'Health System Specialist (Health Professions Education Analyst)',
  'agency': 'Veterans Health Administration'},
 {'job_id': 'AFPCDHA-12575234-GS0101',
  'title': 'PREVENTION SPECIALIST',
  'agency': 'Department of the Air Force - Agency Wide'}]

In [8]:
top_jobs = fetch_and_score_top_by_use_case_auto(
    api_key="Your_API_Key",
    email="Email@email.com",
    use_case="Sentiment",
    top_n=3
)

top_jobs

,JobTitle,Agency,data_buyer_score,UseCase_Sentiment
1497,ADMINISTRATIVE OFFICER,Air National Guard Units,0.989881,1
3075,Contract Specialist (Senior),Air Force Services Agency,0.987920,1
2741,"CHIEF, NAF HUMAN RESOURCES, NF-05/RFT, MCAS IW...",U.S. Marine Corps,0.983666,1